body{
 background-color: black;
      }
.List{
       text-align: left;
       font-size: 35px;
        color: black;
}
p2{
  font-size: 60px;
}
.Home{
  text-align:left;
  font-size: 35px
}
.apps{
  text-align: center;
  font-size: 35px;
}
.button{
  font-size: 40px;
  border-radius: 30px;
  background-blend-mode: multiply;
  background-color: black;
  color: Gray;
}
.header h2{
  display: inline;
  float: center;
  color: white;
  border: 5px solid red;
}
.header span{
  float:right;
  font-size: 50px;
}
.proxiedgames{
  font-size: 40px;
  border-radius: 30px;
  background-color: black;
  color: white;
}
.yaby{
  font-size: 40px;
}
.dood{
  text-align: left;
}
img{
  border-radius: 75px;
}