body{
  background-color: black;
}
div{
  font-size: 50px;
  text-align: center;
  border: 9px solid navy;
}
p15{
  font-size: 45px;
  color: black;
}
p1{
  color: white;
  font-size: 45px;
  border: 10px solid navy;
  text-align: center;
}
.kbob{
  text-align: left;
}
.button2{
  font-size: 40px;
  border-radius: 15px;
  size: 50px;
  background-blend-mode: black;
  background-color: white;
  color: black;
}
.fort{
  text-align: center;
  font-size: 10px;
}
.button3{
  font-size: 60px;
  background-color: lightblue;
  border-radius: 10px;
}