  .title{
      font-size: 60px; 
      text-align: center;
    color: white;
    }
    li{
      text-align: left;
      color: white;
      font-size: 40px;
    }
    button{
      font-size: 25px;
      border-radius: 15px;
      background-color: #ff0034;
      color: black;
    }
    .button2{
      background-color: blue;
      color: white;
    }
    .kbob{
    text-align: center;
}
body{
background-color: black;
  background-repeat:no-repeat;
  background-size: cover;
}